anthropic
langchain-anthropic
openai
langchain-openai
pymupdf
chainlit
python-dotenv
lxml
html2text
bs4
tqdm
asyncio
langchain
langchain-community
langchain-core
langchain-qdrant
qdrant-client
requests
